html {
    font-family: 'Kumbh Sans', sans-serif;
}

nav {
    position: fixed;
}

#section-links {
    display: flex;
}

li {
    list-style: none;
    padding-right: 20px;
}

a {
    text-decoration: none;
}

#about-section {
    padding-top: 10vh;
}