:root {
    --pink: #ffcad4;
    --blue: #b0d0d3;
    --purple: #c08497;
    --peach: #f7af9d;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--pink);
    color: #000000;
    text-align: center;
}

body {
    margin: 0;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

p {
    font-size: 18px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 50px;
    background-color: var(--purple);
    box-shadow: 0 2px var(--blue);
}

#section-links {
    display: flex;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

.section-link {
    padding: 18px;
}

.icon-link {
    padding: 20px 15px 10px 15px;
}

.section-link,
.icon-link {
    transition: background-color 0.5s ease-out;
}

.icon-link:hover,
.section-link:hover {
    background-color: #ffb2ba;
    font-weight: bold;
}

#nav-contact {
    font-size: 27px;
    margin-top: 10px;
}

#about-section {
    display: flex;
    align-items: center;
    padding-top: 50px;
    background-color: var(--blue);
}

#about-section h2 {
    font-weight: normal;
}

#portrait {
    width: 250px;
    height: 250px;
    border: 10px solid var(--purple);
    border-radius: 50%;
    margin: 20px;
}

#about-info {
    padding: 30px;
}

#project-section {
    background-color: var(--purple);
    padding: 5px 0;
}

#project-section h2 {
    margin-top: 0;
}

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-pic {
    width: 30vw;
    height: 30vw;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 5px solid var(--blue);
}

.project-info {
    width: 60vw;
}

button {
    background-color: var(--blue);
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

button i {
    padding-left: 5px;
}

#contact-section {
    background-color: var(--blue);
    padding: 5px 0;
}

@media (max-width: 800px) {
    #about-section {
        flex-direction: column-reverse;
    }

    #about-info {
        padding: 0 30px;
    }

    #portrait {
        margin: 10px 0 0 0;
    }
    


    #project-section h1 {
        margin-bottom: 50px;
    }

    #project-section h2 {
        margin-top: 25px;
    }

    .projects {
        flex-direction: column;
        margin: 0 0 80px 0;
    }

    .project-pic {
        width: 40vw;
        height: 40vw;
        margin-bottom: 0;
    }
    
    .project-info {
        width: 85vw;
    }
}