:root {
    --pink: #ffcad4;
    --blue: #b0d0d3;
    --purple: #c08497;
    --peach: #f7af9d;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #ffffff;
    color: #000000;
}

body {
    margin: 0;
}

nav {
    position: fixed;
    width: 100vw;
    background-color: var(--pink);
}

#section-links {
    display: flex;
}

li {
    list-style: none;
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

#about-section {
    padding-top: 10vh;
    text-align: center;
    background-color: var(--blue);
}

#project-section {
    background-color: var(--purple);
}

#contact-section {
    background-color: var(--peach);
}